<!DOCTYPE html>
	<html lang = "en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" width="device-width, initial-scale=1.0">
			<meta name="description" content="Developer">
			<meta name="author" content="Jumana Bahrainwala">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/CSS/main.css">
			<link href="/CSS/jumbotron-narrow.css" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv/Jumana Bahrainwala Resume June2015.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jzbahrai@uwaterloo.ca">email</a></li>
	        		<li><a href="https://github.com/jzbahrai">github.com/jzbahrai</a></li>
				</ul>
			</footer>
		</body>
	</html>
